{% extends "template.html" %}
{% block content %}

<form action="{{ url_for('new_game') }}" method="post" enctype="multipart/form-data">
    <fieldset>
        <div class="form-group">
            <figure class="img thumbnail col-md-4">
                <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo='capa_random.jpg') }}">
                <figcaption>
                    <label class="fileContainer">
                        Mudar Capa
                        <input type="file" name="file" accept=".jpg">
                    </label>
                </figcaption>
            </figure>
        </div>
        <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-control") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.console.label(class="form-label") }}
            {{ form.console(class="form-control") }}
        </div>
        <br>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
        <a class="btn btn-danger" href="{{ url_for('listar') }}">Cancel</a>
    </fieldset>
</form>

{% endblock %}